html {
  font-size: 16px;
}

body {
  background-color: darkgray;
}

.main-content {
  background-color: mediumpurple;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: .8rem;
  line-height: .25rem;
  padding 10px;
  margin 10px 0px 0px 0px;
}

header section {
  background-color: black;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

.cat-footer {
  background-color: black;
  margin: 10px 0px 0px 0px;
  padding: 10px;  
}
.contact-info {
  text-align: left;
}

h1 {
  color: white;
}

header h3 {
  color: gray;
}

article {
  background-color: white;
  margin: 0px;
  padding: 10px;
}

aside {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

aside h3 {
  text-align: center;
  font-size: 1.25rem;
}
section h2 {
  color: red;
}

.book-link {
  color: red;
  text-align: right;
}

.email-link {
  color: red;
}

.cat-caption {
  text-align: center;
  font-size: 1.25rem;
}